<div class="container-fluid">
  <div class="container">
    <h2 class="text-center">Perfil de {{usuario.nome}}</h2>

    <div class="row my-5">
      <div class="col-md-3">
        <img src="{{usuario.foto}}" alt="Foto de perfil do usuário" class="rounded-circle img-fluid">
        <button class="btn btn-danger w-100 my-3" routerLink="/inicio">Voltar</button>
      </div>

      <div class="col-md-9">
        <form>
          <div class="form-group mb-3">
            <label for="nome" class="fw-bold">Nome:</label>
            <input type="text" class="form-control" name="nome" id="nome" [(ngModel)]="usuario.nome" />
          </div>
          <div class="form-group mb-3">
            <label for="usuario" class="fw-bold">Usuário (email):</label>
            <input type="text" class="form-control" name="usuario" id="usuario" [(ngModel)]="usuario.usuario" />
          </div>
          <div class="form-group mb-3">
            <label for="foto" class="fw-bold">Link da foto:</label>
            <input type="text" class="form-control" name="foto" id="foto" [(ngModel)]="usuario.foto" />
          </div>
          <div class="form-group mb-3">
            <label for="senha" class="fw-bold">Senha:</label>
            <input type="password" class="form-control" name="senha" id="senha" (keyup)="confirmSenha($event)" />
          </div>
          <div class="form-group mb-3">
            <label for="confirmSenha" class="fw-bold">Confirmar Senha:</label>
            <input type="password" class="form-control" name="confirmSenha" id="confirmSenha" [(ngModel)]="usuario.senha" />
          </div>
          <div class="mx-auto d-flex justify-content-around mt-3">
            <button type="submit" class="btn btn-outline-primary w-50" (click)="editarUsuario()">Editar</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
