<div class="container-fluid bg-secondary">
  <a routerLink="/inicio" class="text-white text-decoration-none ms-4 fs-5"><i class="fa fa-backward" aria-hidden="true"></i> Inicio</a>
  <div class="container d-flex justify-content-center">
    <div class="col-md-6 mt-4">
      <h1 class='text-white text-center'>Cadastre um novo tema</h1>
      <input
        type="text"
        name="tema"
        id="tema"
        placeholder="Digite a descrição do tema"
        class="form-control mt-3"
        [(ngModel)]="tema.descricao">
      <div class="d-flex justify-content-around my-3">
        <button class="w-25 btn btn-outline-light" routerLink="/inicio">Cancelar</button>
        <button class="w-25 btn btn-light" (click)="cadastrarTema()">Cadastrar</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container d-flex justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center my-3">Meus temas cadastrados</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Descrição</th>
            <th scope="col" class="text-center">Funções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tema of listaTemas">
            <th scope="row">{{tema.id}}</th>
            <td>{{tema.descricao}}</td>
            <td>
              <div class="d-flex justify-content-around">
                <button class='btn btn-outline-info'>Editar</button>
                <button class='btn btn-outline-danger'>Apagar</button>
              </div>
            </td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>