<div class="container-fluid my-4">
  <div class="container d-flex flex-column align-items-center">
    <h2>Editar Postagem</h2>
    <div class="col-md-4">
      <form>
        <div class="form-group mb-3">
          <label for="titulo">Titulo da postagem:</label>
          <input type="text" placeholder="Digite o titulo da sua postagem" class="form-control" id="titulo" name="titulo"
          [(ngModel)]="postagem.titulo">
        </div>
        <div class="form-group mb-3">
          <label for="titulo">Texto da postagem:</label>
          <textarea name="texto" id="texto" class="form-control" rows="5" placeholder="Digite o texto da sua postagem"
          [(ngModel)]="postagem.texto"></textarea>
        </div>

        <hr>
        <p>Escolha uma tema</p>

        <div class="form-group">
          <select name="tema" id="tema" class="form-control" [(ngModel)]="idTema" (change)="getTemaById()">
            <option *ngFor="let tema of listaTemas" value="{{tema.id}}">{{tema.descricao}}</option>
          </select>
        </div>

        <div class="d-flex justify-content-around mt-4">
          <button class="btn btn-outline-dark w-25" routerLink="/inicio">Cancelar</button>
          <button class="btn btn-outline-success w-25" (click)="editarPostagem()">Editar</button>
        </div>
      </form>
    </div>
  </div>
</div>
